.About{
    width: 100%;
    padding-top: 5%;
    background-color: white;
}

.About .about-container{  
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    padding-bottom: 5rem;
    
}

.About .about-container .left{
    
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid white;
    
}

.About .about-container .right .abt-img{
    width: 70%;
    height: auto;
}


.About .about-container h1{
    padding-top: 1rem;
    color: black;
    font-weight: 250;
}

.About .about-container p{
    color: black;
    text-align: justify;
    line-height: 30px;
    padding-right: 2rem;
    padding-top: 3rem;
    
    font-weight: 200;
    font-size: large;
}

.abt-btns{
    padding-top: 10%;
    
}
.abt-btns .btn{
    padding: 0.7rem 1rem;
    
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.103), 0 10px 10px rgba(0, 0, 0, 0.174);
}

@media screen and (max-width: 1000px) {
    .About .about-container{  
        margin: auto;
        grid-template-columns: 1fr;
    }
    .About .about-container .left{
        max-width: 60%;
        margin: auto;
    }
    .About .about-container .right .abt-img{
        max-width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 400px){
    .About .about-container .left{
        max-width: 90%;
        margin: auto;
    }
    .About .about-container .right .abt-img{
        max-width: 90%;
        margin: auto;
    }
    .About .about-container h1{
        font-size: 1.5rem;
    }
    .About .about-container p{
        font-size: 1rem;
    }

}
